{% extends 'viewer/viewer_base.html' %}

{% load staticfiles %}

{% block styles_child %}
    <link href="{% static 'css/viewer_route.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content_child %}
    <div class="row position-data">
        <input id="position-data-carrier-id" placeholder="Input carrier id"/>
        <input id="position-data-count" placeholder="Input count of coordinates to build"/>
        <button class="button btn-small waves-effect position-data-control-btn" id="build-route">Build route</button>
        <button class="button btn-small waves-effect position-data-control-btn" id="clear-route">Clear route</button>
        <p id="position-data-info"></p>
    </div>
    <div id="routes-info">

    </div>
{% endblock %}

{% block script_block_child %}
    <script>
        const mapZoomRoute = 15;
        const ws_path = "/ws/route/";
        const ws = new WebSocket("ws://" + window.location.host + ws_path);

        let position_data_info = document.getElementById('position-data-info');
        let routes_info = document.getElementById('routes-info');

        let routes = [];

        ws.onmessage = function (message) {
            position_data_info.innerText = "";

            let parsedMessage = JSON.parse(message.data);

            if (parsedMessage.error) {
                position_data_info.innerText = parsedMessage.error;

                return;
            }

            let coordinates = parsedMessage.coordinates;
            let firstCoordinate = coordinates[0];

            googleMap.setCenter(firstCoordinate);
            googleMap.setZoom(mapZoomRoute);

            route = new google.maps.Polyline({
                path: coordinates,
                strokeWeight: 2,
                strokeOpacity: 1.0,
                strokeColor: '#FF0000',
                geodesic: 2
            });

            route.setMap(googleMap);

            routes.push(route);

            routes_info.innerHTML +=
                "<div class='row'>" +
                    "<h6>Route #" +
                        routes.length +
                    "</h6>" +
                    "<p class='col s3'>" +
                        "Avg speed: " + parsedMessage.avg_speed +
                    "</p>" +
                    "<p class='col s3'>" +
                        "Min speed: " + parsedMessage.min_speed +
                    "</p>" +
                    "<p class='col s3'>" +
                        "Max speed: " + parsedMessage.max_speed +
                    "</p>" +
                    "<p class='col s3'>" +
                        "Total count of coords:" + parsedMessage.total_count_of_coordinates_for_carrier_id +
                    "</p>" +
                "</div>" +
                "<hr>";

            google.maps.event.addListener(route, 'click', function (e) {
                const routeInfoWindow = new google.maps.InfoWindow();
                const routeInfoWindowContent = "Route #" + routes.length;

                routeInfoWindow.setPosition(e.latLng);
                routeInfoWindow.setContent(routeInfoWindowContent);
                routeInfoWindow.open(googleMap, route);
            });
        };

        $('#build-route').click(function (e) {
            let carrier_id = document.getElementById('position-data-carrier-id').value;
            let count_of_coordinates = document.getElementById('position-data-count').value;

            if (carrier_id === "" || isNaN(carrier_id) || count_of_coordinates === ""
                || isNaN(count_of_coordinates)) {

                position_data_info.innerText = "Please, fill all inputs and check " +
                    "if values are digits";

                return;
            }

            ws.send(JSON.stringify({
                "carrier_id": carrier_id,
                "count_of_coordinates": count_of_coordinates
            }));
        });

        $('#clear-route').click(function (e) {
            for (route of routes) {
                route.setMap(null);
            }

            routes = [];

            routes_info.innerHTML = "";
        });
    </script>
{% endblock %}