{% extends 'viewer/viewer_base.html' %}

{% load staticfiles %}

{% block content_child %}
    <div class="row position-data">
        <input id="position-data-carrier-id" placeholder="Input carrier id"/>
        <button class="btn btn-small waves-effect position-data-control-btn" id="start-getting-position-data">Start monitoring position</button>
        <button class="btn btn-small waves-effect position-data-control-btn" id="stop-getting-position-data">Stop monitoring position</button>
        <p id="position-data-info"></p>
    </div>
    <div class="row position-data-current">
        <div id="position-data-long" class="col s3"></div>
        <div id="position-data-lat" class="col s3"></div>
        <div id="position-data-spd" class="col s3"></div>
        <div id="position-data-ab" class="col s3"></div>
    </div>
{% endblock %}

{% block script_block_child %}
    <script>
        const abWarning = '1';

        let current_long = document.getElementById('position-data-long');
        let current_lat = document.getElementById('position-data-lat');
        let current_spd = document.getElementById('position-data-spd');
        let current_ab = document.getElementById('position-data-ab');

        let position_data_info = document.getElementById('position-data-info');

        let ws_path = "/ws/position_data/";
        let ws = new WebSocket("ws://" + window.location.host + ws_path);

        let carrier_id;
        let interval_id;

        ws.onmessage = function (message) {
            position_data_info.innerText = "";

            let parsedMessage = JSON.parse(message.data);

            if (parsedMessage.error) {
                position_data_info.innerText = parsedMessage.error;

                return;
            }

            if (parsedMessage.unavailable) {
                clearInterval(interval_id);
                actualPositionDataMarker.setMap(null);

                position_data_info.innerText = "Carrier is unavailable (offline)";

                return;
            }

            actualPositionDataMarker.setPosition({lat: parseFloat(parsedMessage.lat),
                lng: parseFloat(parsedMessage.long)});

            current_long.innerText = "Current longitude: " + parsedMessage.long;
            current_lat.innerText = "Current latitude: " + parsedMessage.lat;
            current_spd.innerText = "Current speed: " + parsedMessage.spd + "km/h";
            current_ab.innerText = "Ab status: " + parsedMessage.ab;
        };

        $('#start-getting-position-data').click(function (e) {
            current_long.innerText = current_lat.innerText = current_spd.innerText = current_ab.innerText = "";

            carrier_id = document.getElementById('position-data-carrier-id').value;

            if (carrier_id === "" || isNaN(carrier_id)) {
                position_data_info.innerText = "Please, fill carrier id input and check " +
                    "if it a digit";

                return;
            }

            actualPositionDataMarker.setMap(googleMap);

            interval_id = setInterval(function(){
                ws.send(JSON.stringify({
                    "carrier_id": carrier_id
                }))}, 5000);
        });

        $('#stop-getting-position-data').click(function (e) {
            clearInterval(interval_id);
            actualPositionDataMarker.setMap(null);
        });
    </script>
{% endblock %}