{% extends 'viewer/viewer_base.html' %}

{% load staticfiles %}

{% block content_child %}
    <div class="row position-data">
        <input id="carrier-id" placeholder="Input carrier id"/>
        <input id="count-of-position-data" placeholder="Input count of coordinates to build"/>
        <button class="button btn-small waves-effect position-data-control-btn" id="build-route">Build route</button>
        <button class="button btn-small waves-effect position-data-control-btn" id="clear-route">Clear route</button>
        <p id="position-data-info"></p>
    </div>
{% endblock %}

{% block script_block_child %}
    <script>
        const mapZoomRoute = 15;
        const ws_path = "/ws/route/";
        const ws = new WebSocket("ws://" + window.location.host + ws_path);

        let routes = [];

        ws.onmessage = function (message) {
            let parsedMessage = JSON.parse(message.data);

            if (parsedMessage.error) {
                document.getElementById('position-data-info').innerText = parsedMessage.error;

                return;
            }

            let coordinates = parsedMessage.coordinates;
            let firstCoordinate = coordinates[0];

            googleMap.setCenter(firstCoordinate);
            googleMap.setZoom(mapZoomRoute);

            route = new google.maps.Polyline({
                path: coordinates,
                strokeWeight: 2,
                strokeOpacity: 1.0,
                strokeColor: '#FF0000',
                geodesic: 2
            });

            route.setMap(googleMap);

            routes.push(route);

            document.getElementById('position-data-info').innerText = "";
        };

        $('#build-route').click(function (e) {
            let carrier_id = document.getElementById('carrier-id').value;
            let count_of_coordinates = document.getElementById('count-of-position-data').value;

            if (carrier_id === "" || isNaN(carrier_id) || count_of_coordinates === ""
                || isNaN(count_of_coordinates)) {

                document.getElementById('position-data-info').innerText = "Please, fill all inputs and check " +
                    "if values are digits";

                return;
            }

            ws.send(JSON.stringify({
                "carrier_id": carrier_id,
                "count_of_coordinates": count_of_coordinates
            }));
        });

        $('#clear-route').click(function (e) {
            for (route of routes) {
                route.setMap(null);
            }

            routes = [];
        });
    </script>
{% endblock %}