{% extends "BeFOUND/base.html" %}
{% load staticfiles %}
{% block title %}
    Новые вопросы
    <a href="#" class="btn btn-link">Топ вопросов</a>
{% endblock %}
{% block content %}
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-9">
                <div class="card items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title"> Карта </h3>
                        </div>
                        <div class="header-block pull-right">
                            <label class="search">
                                <input class="search-input w-100" placeholder="Поиск...">
                                <i class="fa fa-search search-icon"></i>
                            </label>
                        </div>
                    </div>
                    <iframe src="https://api-maps.yandex.ru/frame/v1/-/C6UmjPO-" class="w-100" style="height: 650px" frameborder="0"></iframe>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card card-danger sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title"> Тревога </h3>
                        </div>
                        <div class="header-block pull-right"> <label class="search">
                            <input class="search-input" placeholder="Поиск...">
                            <i class="fa fa-search search-icon"></i>
                        </label>
                        </div>
                    </div>
                    <ul class="item-list striped">
                        <li class="item item-list-header hidden-sm-down">
                            <div class="item-row">
                                <div class="item-col item-col-header item-col-name">
                                    <div> <span>ФИО</span> </div>
                                </div>
                                <div class="item-col item-col-header item-col-coords">
                                    <div> <span>Координаты</span> </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-name xs">
                                    <a href="">Иванов Иван Иванович</a>
                                </div>
                                <div class="item-col item-col-coords no-overflow">
                                    123123 1234234
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-name xs">
                                    <a href="">Иванов Иван Иванович</a>
                                </div>
                                <div class="item-col item-col-coords no-overflow">
                                    123123 1234234
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-name xs">
                                    <a href="">Иванов Иван Иванович</a>
                                </div>
                                <div class="item-col item-col-coords no-overflow">
                                    123123 1234234
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-name xs">
                                    <a href="">Иванов Иван Иванович</a>
                                </div>
                                <div class="item-col item-col-coords no-overflow">
                                    123123 1234234
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-name xs">
                                    <a href="">Иванов Иван Иванович</a>
                                </div>
                                <div class="item-col item-col-coords no-overflow">
                                    123123 1234234
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title"> Пользователи </h3></div>
                        <div class="header-block pull-right"> <label class="search">
                            <input class="search-input w-100" placeholder="Поиск...">
                            <i class="fa fa-search search-icon"></i>
                        </label>
                            <div class="pagination">
                                <a href="" class="btn btn-primary btn-sm rounded"> <i class="fa fa-angle-up"></i> </a>
                                <a href="" class="btn btn-primary btn-sm rounded"> <i class="fa fa-angle-down"></i> </a>
                            </div>
                        </div>
                    </div>
                    <ul class="item-list striped">
                        <li class="item item-list-header hidden-sm-down">
                            <div class="item-row">
                                <div class="item-col item-col-header fixed item-col-img xs"></div>
                                <div class="item-col item-col-header item-col-title">
                                    <div> <span>Name</span> </div>
                                </div>
                                <div class="item-col item-col-header item-col-sales">
                                    <div> <span>Sales</span> </div>
                                </div>
                                <div class="item-col item-col-header item-col-stats">
                                    <div class="no-overflow"> <span>Stats</span> </div>
                                </div>
                                <div class="item-col item-col-header item-col-date">
                                    <div> <span>Published</span> </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-img xs">
                                    <a href="">
                                        <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg)"></div>
                                    </a>
                                </div>
                                <div class="item-col item-col-title no-overflow">
                                    <div>
                                        <a href="" class="">
                                            <h4 class="item-title no-wrap"> 12 Myths Uncovered About IT &amp; Software </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-col item-col-sales">
                                    <div class="item-heading">Sales</div>
                                    <div> 4958 </div>
                                </div>
                                <div class="item-col item-col-stats">
                                    <div class="item-heading">Stats</div>
                                    <div class="no-overflow">
                                        <div class="item-stats sparkline" data-type="bar"></div>
                                    </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">Published</div>
                                    <div> 21 SEP 10:45 </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-img xs">
                                    <a href="">
                                        <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg)"></div>
                                    </a>
                                </div>
                                <div class="item-col item-col-title no-overflow">
                                    <div>
                                        <a href="" class="">
                                            <h4 class="item-title no-wrap"> 50% of things doesn&#x27;t really belongs to you </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-col item-col-sales">
                                    <div class="item-heading">Sales</div>
                                    <div> 192 </div>
                                </div>
                                <div class="item-col item-col-stats">
                                    <div class="item-heading">Stats</div>
                                    <div class="no-overflow">
                                        <div class="item-stats sparkline" data-type="bar"></div>
                                    </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">Published</div>
                                    <div> 21 SEP 10:45 </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-img xs">
                                    <a href="">
                                        <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/eduardo_olv/128.jpg)"></div>
                                    </a>
                                </div>
                                <div class="item-col item-col-title no-overflow">
                                    <div>
                                        <a href="" class="">
                                            <h4 class="item-title no-wrap"> Vestibulum tincidunt amet laoreet mauris sit sem aliquam cras maecenas vel aliquam. </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-col item-col-sales">
                                    <div class="item-heading">Sales</div>
                                    <div> 2143 </div>
                                </div>
                                <div class="item-col item-col-stats">
                                    <div class="item-heading">Stats</div>
                                    <div class="no-overflow">
                                        <div class="item-stats sparkline" data-type="bar"></div>
                                    </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">Published</div>
                                    <div> 21 SEP 10:45 </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-img xs">
                                    <a href="">
                                        <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/why_this/128.jpg)"></div>
                                    </a>
                                </div>
                                <div class="item-col item-col-title no-overflow">
                                    <div>
                                        <a href="" class="">
                                            <h4 class="item-title no-wrap"> 10 tips of Object Oriented Design </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-col item-col-sales">
                                    <div class="item-heading">Sales</div>
                                    <div> 124 </div>
                                </div>
                                <div class="item-col item-col-stats">
                                    <div class="item-heading">Stats</div>
                                    <div class="no-overflow">
                                        <div class="item-stats sparkline" data-type="bar"></div>
                                    </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">Published</div>
                                    <div> 21 SEP 10:45 </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-img xs">
                                    <a href="">
                                        <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/w7download/128.jpg)"></div>
                                    </a>
                                </div>
                                <div class="item-col item-col-title no-overflow">
                                    <div>
                                        <a href="" class="">
                                            <h4 class="item-title no-wrap"> Sometimes friend tells it is cold </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-col item-col-sales">
                                    <div class="item-heading">Sales</div>
                                    <div> 10214 </div>
                                </div>
                                <div class="item-col item-col-stats">
                                    <div class="item-heading">Stats</div>
                                    <div class="no-overflow">
                                        <div class="item-stats sparkline" data-type="bar"></div>
                                    </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">Published</div>
                                    <div> 21 SEP 10:45 </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-img xs">
                                    <a href="">
                                        <div class="item-img xs rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/pankogut/128.jpg)"></div>
                                    </a>
                                </div>
                                <div class="item-col item-col-title no-overflow">
                                    <div>
                                        <a href="" class="">
                                            <h4 class="item-title no-wrap"> New ways of conceptual thinking </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-col item-col-sales">
                                    <div class="item-heading">Sales</div>
                                    <div> 3217 </div>
                                </div>
                                <div class="item-col item-col-stats">
                                    <div class="item-heading">Stats</div>
                                    <div class="no-overflow">
                                        <div class="item-stats sparkline" data-type="bar"></div>
                                    </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">Published</div>
                                    <div> 21 SEP 10:45 </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}