{% extends "BeFOUND/base.html" %}
{% block title %}GPS трекер{% endblock %}
{% block content %}
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-9">
                <div class="card items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title"> Карта </h3>
                        </div>
                        <div class="header-block pull-right">
                            <label class="search">
                                <input class="search-input w-100" placeholder="Поиск...">
                                <i class="fa fa-search search-icon"></i>
                            </label>
                        </div>
                    </div>
                    <iframe src="https://api-maps.yandex.ru/frame/v1/-/C6UmjPO-" class="w-100" style="height: 650px" frameborder="0"></iframe>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card card-danger sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title"> Тревога </h3>
                        </div>
                        <div class="header-block pull-right"> <label class="search">
                            <input class="search-input" placeholder="Поиск...">
                            <i class="fa fa-search search-icon"></i>
                        </label>
                        </div>
                    </div>
                    <ul class="item-list striped">
                        <li class="item item-list-header hidden-sm-down">
                            <div class="item-row">
                                <div class="item-col item-col-header item-col-name">
                                    <div> <span>ФИО</span> </div>
                                </div>
                                <div class="item-col item-col-header item-col-coords">
                                    <div> <span>Координаты</span> </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-name xs">
                                    <a href="">Иванов Иван Иванович</a>
                                </div>
                                <div class="item-col item-col-coords no-overflow">
                                    123123 1234234
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-name xs">
                                    <a href="">Иванов Иван Иванович</a>
                                </div>
                                <div class="item-col item-col-coords no-overflow">
                                    123123 1234234
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-name xs">
                                    <a href="">Иванов Иван Иванович</a>
                                </div>
                                <div class="item-col item-col-coords no-overflow">
                                    123123 1234234
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-name xs">
                                    <a href="">Иванов Иван Иванович</a>
                                </div>
                                <div class="item-col item-col-coords no-overflow">
                                    123123 1234234
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-name xs">
                                    <a href="">Иванов Иван Иванович</a>
                                </div>
                                <div class="item-col item-col-coords no-overflow">
                                    123123 1234234
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title"> Пользователи </h3></div>
                        <div class="header-block pull-right"> <label class="search">
                            <input class="search-input w-100" placeholder="Поиск...">
                            <i class="fa fa-search search-icon"></i>
                        </label>
                            <div class="pagination">
                                <a href="" class="btn btn-primary btn-sm rounded"> <i class="fa fa-angle-up"></i> </a>
                                <a href="" class="btn btn-primary btn-sm rounded"> <i class="fa fa-angle-down"></i> </a>
                            </div>
                        </div>
                    </div>
                    <ul class="item-list striped">
                        <li class="item item-list-header hidden-sm-down">
                            <div class="item-row">
                                <div class="item-col item-col-header item-col-title">
                                    <div> <span>ФИО</span> </div>
                                </div>
                                <div class="item-col item-col-header item-col-phone">
                                    <div> <span>Телефон</span> </div>
                                </div>
                                <div class="item-col item-col-header item-col-email">
                                    <div> <span>Email</span> </div>
                                </div>
                                <div class="item-col item-col-header item-col-birthday">
                                    <div class="no-overflow"> <span>Дата рождения</span> </div>
                                </div>
                                <div class="item-col item-col-header item-col-coords">
                                    <div> <span>Последние координаты</span> </div>
                                </div>
                                <div class="item-col item-col-header item-col-status">
                                    <div> <span>Статус</span> </div>
                                </div>
                            </div>
                        </li>
                        {% for user in users_ab %}
                            <li class="item"><div class="item-row">
                                <div class="item-col item-col-title no-overflow">
                                    <div><a href="" class=""><h4 class="item-title no-wrap">
                                        {{ user }}
                                    </h4></a></div>
                                </div>
                                <div class="item-col item-col-phone">
                                    <div class="item-heading">Телефон</div>
                                    <div> {{ user.phone }} </div>
                                </div>
                                <div class="item-col item-col-email">
                                    <div class="item-heading">Email</div>
                                    <div> {{ user.email }} </div>
                                </div>
                                <div class="item-col item-col-birthday">
                                    <div class="item-heading">Дата рождения</div>
                                    <div> {{ user.birthday }} </div>
                                </div>
                                <div class="item-col item-col-coords">
                                    <div class="item-heading">Последние координаты</div>
                                    <div> {{ user.coordinates }} </div>
                                </div>
                                <div class="item-col item-col-status">
                                    <div class="item-heading">Статус</div>
                                    <div> {% if user.status == 0 %}Норм{% else %}Тревога{% endif %} </div>
                                </div>
                            </div></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}